{% if page.social.facebook %}
<a target="_blank" href="http://fb.com/{{ page.social.facebook }}" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
{% endif %}
{% if page.github %}
<a target="_blank" href="http://github.com/{{ page.github }}" class="google"><i class="fa fa-github fa-fw"></i></a>
{% endif %}
{% if page.social.twitter %}
<a target="_blank" href="https://twitter.com/{{ page.social.twitter }}" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
{% endif %}
{% if page.social.instagram %}
<a target="_blank" href="https://instagram.com/{{ page.social.instagram }}" class="twitter"><i class="fa fa-instagram fa-fw"></i></a>
{% endif %}